<div class="footer-links">
  <ul>
    <li><h3>DEVV</h3></li>
    <li><a href="#">What is like?</a></li>
    <li><a href="#">Contact us</a></li>
  </ul>
  <ul>
    <li><h3>Consulting</h3></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Career</a></li>
    <li><a href="#">Work for us</a></li>
  </ul>
  <ul>
    <li><h3>Search</h3></li>
    <li><a href="#">Headhunting</a></li>
    <li><a href="#">Relocation package for developers</a></li>
  </ul>
  <ul>
    <li><h3>Network</h3></li>
    <li><a href="#">Partners</a></li>
    <li><a href="#">Devv Family</a></li>
  </ul>
</div>

