<div class="wrap">
  <form class="search-bar" role="search">
    <label>Search</label>
    <input type="search" placeholder="Search..." ng-model="searchCtrl.searchInput" />
  </form>
</div>

<div class="cards">
  <div class="card" ng-repeat="result in (searchCtrl.searchData | advancedSearch:searchCtrl.searchInput) track by $index"
       ng-if="searchCtrl.searchInput.length">
    <div class="card-header">
      {{result.Name}}
    </div>
    <div class="card-copy">
      {{result.Type}}
      <p>{{result.Designedby}}</p>
    </div>
  </div>
</div>