html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

a {
  color: rgba(117, 117, 117, 0.8);
  text-decoration: none; }
  a:focus, a:hover {
    color: #757575; }

h3 {
  color: #757575;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  margin: 5px 0; }

hr {
  border: 1px solid rgba(117, 117, 117, 0.1);
  margin: 0 auto 0.5em;
  width: 12em; }

p {
  color: rgba(117, 117, 117, 0.4);
  font-size: 0.9em;
  line-height: 1.5em;
  margin: auto;
  max-width: 35em;
  text-align: center; }

.wrap {
  display: block;
  width: 100%; }

header.navigation {
  border-bottom: 1px solid #547fb0;
  min-height: 110px;
  width: 100%;
  z-index: 999; }
  header.navigation .navigation-wrapper {
    position: relative;
    z-index: 9999;
    background-color: #bfbfbf;
    max-height: 64px; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  header.navigation .logo {
    float: left;
    margin: 38px 0 0 35px; }
  header.navigation .navigation-menu-button {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    float: right;
    font-weight: 700;
    line-height: 110px;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
      color: white; }

.footer {
  background: #bfbfbf;
  padding: 64px 7px 7px 7px;
  width: 100%;
  clear: both; }
  .footer .footer-logo {
    margin-bottom: 2em;
    text-align: center; }
    .footer .footer-logo img {
      height: 3em; }
  .footer .footer-links {
    background-color: #fff;
    padding: 10px; }
    .footer .footer-links::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 40em) {
      .footer .footer-links {
        margin-left: 25.58941%;
        margin-left: 0; } }
  .footer ul {
    padding: 0; }
    @media screen and (min-width: 40em) {
      .footer ul {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        clear: none !important;
        margin: 10px 0;
        width: 25%; }
        .footer ul:last-child {
          margin-right: 0; }
        .footer ul:nth-child(3n) {
          margin-right: 0; }
        .footer ul:nth-child(3n+1) {
          clear: left; }
        .footer ul::after {
          clear: both;
          content: "";
          display: table; } }
  .footer li {
    line-height: 1.5em;
    list-style: none;
    text-align: center; }
    @media screen and (min-width: 40em) {
      .footer li {
        text-align: left; } }
  .footer li:first-child {
    border-bottom: 1px solid #547fb0;
    border-top: 1px solid #547fb0; }

.cards {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  min-width: 25%; }

.card {
  -webkit-flex-basis: 15em;
  -moz-flex-basis: 15em;
  flex-basis: 15em;
  -ms-flex-preferred-size: 15em;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #f6f6f6;
  border-radius: 3px;
  border: 1px solid gainsboro;
  box-shadow: 0 2px 4px #e6e6e6;
  cursor: pointer;
  margin: 0 1em 0.5em 1em;
  position: relative; }
  .card .card-image {
    overflow: hidden;
    height: 150px;
    max-height: 150px;
    background-color: #F8F2B4; }
    .card .card-image img {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      width: 100%;
      opacity: 1; }
  .card .card-header {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #f6f6f6;
    border-bottom: 1px solid gainsboro;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0.16667em 0.25em; }
  .card .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 0.25em 0.25em; }
    .card .card-copy p {
      margin: 0 0 0.25em; }
  .card:focus, .card:hover {
    cursor: pointer; }
    .card:focus img, .card:hover img {
      opacity: 0.7; }
  .card:active {
    background-color: #f6f6f6; }
    .card:active .card-header {
      background-color: #f6f6f6; }

.flex-boxes {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  clear: both;
  text-align: center; }
  .flex-boxes::after {
    clear: both;
    content: "";
    display: table; }

form.search-bar {
  position: relative;
  width: 550px;
  margin: 20px auto;
  background-color: #f7f7f7;
  padding: 40px 85px;
  border-radius: 20px; }
  form.search-bar label {
    color: #547fb0;
    font-size: 20px;
    display: block;
    border-bottom: 3px solid #547fb0;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-align: left; }
  form.search-bar input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color;
    -moz-transition: border-color;
    transition: border-color;
    background-color: #e3e3e3;
    border-radius: 3px;
    border: 1px solid gainsboro;
    display: block;
    font-size: 1em;
    font-style: italic;
    margin: 0 0 10px 0;
    padding: 0.16667em 0.16667em;
    position: relative;
    width: 100%;
    height: 50px;
    padding: 0 10px; }
  form.search-bar button[type=submit] {
    background-color: #bfbfbf;
    border-radius: 3px;
    border: 0;
    color: #333333;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    padding: 7px 18px;
    text-decoration: none;
    background-clip: padding-box;
    background-color: #bfbfbf;
    border-radius: 3px;
    border: 0;
    color: #333333;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    padding: 7px 18px;
    text-decoration: none;
    background-clip: padding-box;
    position: absolute;
    top: 0em;
    right: 0em;
    bottom: 0em;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    outline: none;
    padding: 5px 10px; }
    form.search-bar button[type=submit]:hover:not(:disabled) {
      background-color: #cccccc;
      cursor: pointer; }
    form.search-bar button[type=submit]:active:not(:disabled), form.search-bar button[type=submit]:focus:not(:disabled) {
      background-color: #b2b2b2;
      cursor: pointer; }
    form.search-bar button[type=submit]:hover:not(:disabled) {
      background-color: #cecaca;
      cursor: pointer; }
    form.search-bar button[type=submit]:active:not(:disabled), form.search-bar button[type=submit]:focus:not(:disabled) {
      background-color: #b2b2b2;
      cursor: pointer; }
    form.search-bar button[type=submit]:disabled {
      cursor: not-allowed;
      opacity: 0.5; }
    form.search-bar button[type=submit] img {
      height: 12px;
      opacity: 0.7; }

/*# sourceMappingURL=main.css.map */
